.accordionHeading {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    color: #787272;
    text-align: left;
}

span.accordionHeading {
    font-size: 28px;
}

div.accordionHeading {
    font-size: 16px;
    text-decoration: underline;
}

.accordionHeadingACNo {
    font-size: 16px;
}

.accordionTopDivMarginValue {
    padding-top: 3px;
}

.accordionPartyLogoImg {
    width: 30px;
    height: 30px;
}

.accordionPartyLogoSpan {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) inset !important;
    background-color: #fbfafb;
    border-radius: 0.7rem;
    height: 2rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordionDetailsDivRow {
    height: 4em;
}

.accordionDetailsDivRowLabel {
    font-size: 14px;
}

.accordionDetailsDivRowText {
    font-size: 15px;
    font-weight: bold;
}

.candidateImageDiv {
    cursor: pointer;
    height: 110px;
    width: 100%;
}

.candidateImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 0px 0px 12px;
}

.candidateDetailsDiv {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: between;
}

.accordionCandidateName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.accordionCandidateLabel {
    font-size: 12px;
}

.accordionCandidatePartyLogo {
    width: 40px;
    height: 30px;
}

.accordionCandidateVoteCount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 16px;
}

.accordionIcon {
    height: 3rem;
}

.accordionIconLabel {
    font-size: 20px;
    font-weight: 600;
}

.accordionIconLabelTwo {
    font-size: 18px;
}

.right_div_row_style {
    cursor: pointer;
    transition: transform 0.1s;
}

.right_div_row_style:hover {
    -ms-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

@media all and (min-width: 992px) and (max-width: 1400px) {
    span.accordionHeading {
        font-size: 20px;
    }

    div.accordionHeading {
        font-size: 14px;
    }

    .accordionHeadingACNo {
        font-size: 10px;
    }

    .accordionTopDivMarginValue {
        padding-top: 0;
    }

    .accordionPartyLogoImg {
        width: 20px;
        height: 20px;
    }

    .accordionPartyLogoSpan {
        height: 1.5rem;
        width: 2rem;
    }

    .accordionDetailsDivRow {
        height: 3em;
    }

    .accordionDetailsDivRowLabel {
        font-size: 10px;
    }

    .accordionDetailsDivRowText {
        font-size: 10px;
        font-weight: bold;
    }

    .candidateImageDiv {
        height: 80px;
        width: 100%;
    }

    .candidateImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .candidateDetailsDiv {
        padding-top: 5px;
        padding-left: 2px;
    }

    .accordionCandidateName {
        font-size: 10px;
    }

    .accordionCandidateLabel {
        font-size: 10px;
    }

    .accordionCandidatePartyLogo {
        width: 30px;
        height: 20px;
    }

    .accordionCandidateVoteCount {
        font-size: 10px;
    }

    .accordionIcon {
        height: 2rem;
    }

    .accordionIconLabel {
        font-size: 14px;
    }
    .accordionIconLabelTwo {
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    span.accordionHeading {
        font-size: 20px;
    }

    div.accordionHeading {
        font-size: 14px;
    }

    .ac_heading_mobile {
        width: 60% !important;
        text-align: center;
    }
    .vote_margin_years_mobile {
        width: 40% !important;
    }
    .accordionDetailsDivRowText {
        font-size: 12px;
        font-weight: bold;
    }
    .accordionDetailsDivRowLabel {
        font-size: 12px;
    }
    /* Candidate Card Styles */

    .top_three_candidates_mobile.row {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column !important;
        margin-top: 1rem;
    }
    .top_three_candidate_card {
        margin-bottom: 10px;
    }
    .candidateImage {
        object-fit: contain !important;
    }
    .accordionIconLabel {
        font-size: 15px !important;
        margin-bottom: unset !important;
    }
    .accordionIconLabelTwo {
        font-size: 12px !important;
        margin-bottom: unset !important;
    }

    /* Comparision view / Other Option Styles */

    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row1.col-4:after {
        top: unset !important;
        bottom: -2px !important;
    }
    .accordionIcon {
        height: 2rem !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row1.col-4 {
        border-bottom: 1px solid #d5d5d5 !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row2.col-4 {
        border-left: 1px solid #d5d5d5 !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row2.col-4:before {
        height: 1px !important;
        left: 0 !important;
        top: unset !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row3.col-4 {
        border-left: 1px solid #d5d5d5 !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row3.col-4:before {
        left: -2px !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row4.col-4 {
        border-right: 1px solid #d5d5d5 !important;
        left: 1.1px !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.style_border_top_leftk.row6.col-4 {
        border-left: 1px solid #d5d5d5 !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.style_border_top_leftk.row6.col-4:after {
        left: -2px !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row3.col-4:after {
        height: 1px !important;
    }
    .p-0.m-0.text-center.d-flex.justify-content-center.align-items-end.row2.col-4:after {
        width: 3% !important;
        left: -2px !important;
    }

    /* AC Table Styles */
    .mobile-table-row {
        width: 50%;
    }
    .mobile-table-row-odd {
        width: 50%;
        background-color: white;
    }
    .accordionDetailsDivRowLabel {
        padding-left: 0px !important;
    }

    .ac-column-data {
        background-color: unset !important;
    }
    /* .incharge-minister-mobile{
        height: 90px;
    } */
    div#\{\"index\"\:\"0\"\,\"type\"\:\"category_boxes_analysis_level_count\"\} {
        margin-left: unset !important;
        margin-top: unset !important;
    }
}
