#comparative_analysis_pdf_body .comparative_analysis_pdf_index_page,
#comparative_analysis_pdf_body .comparative_analysis_pdf_graph_page {
    padding: 1rem;
}

/* INDEX PAGE */
.comparative_analysis_black_bar {
    height: 5px;
    width: 100%;
    background-color: black;
}

.comparative_analysis_pdf_header {
    display: flex;
    margin: 5px 0 1rem;
    height: 3rem;
}

.ca_index_table {
    width: 100%;
    height: 40rem;
    border: 1px solid lightgrey;
    /* border-collapse: collapse; */
    overflow-y: auto; /* Enable vertical scrolling */
    display: block;
}

.ca_index_table thead {
    background: black;
    color: white;
    height: 3rem;
}

.ca_index_table tbody {
    display: block;
}

.ca_index_table thead,
.ca_index_table tbody tr {
    display: table;
    width: 100%; /* Ensure full width */
    table-layout: fixed;
}

.ca_index_table th {
    padding: 0 0.6rem;
    font-size: 10px;
    text-align: center;
}

.ca_index_table tr {
    height: 1rem;
    margin: 1rem 0;
    font-size: 14px;
}

.ca_index_table td {
    padding: 0 0.6rem;
}
/*  */
/*  */
/*  */

:root {
    --graph_container_size: 17rem;
}

/*  */
/*  */
/* GRAPH PAGE */
.ca_graph_component {
    height: var(--graph_container_size);
    width: var(--graph_container_size);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ca_graph_component .ca_graph_component_year_box {
    position: absolute;
    left: 40%;
    top: -0.5rem;
    height: 2rem;
    width: 4rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;
    display: grid;
    place-content: center;
}
/*  */
/*  */
/*  */

/* this enables background graphics in print preview */
* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
}

@media print {
    @page {
        size: landscape;
        margin: 0 !important;
    }
}
